* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Container für den weißen Bereich */
.container {
    max-width: 800px; /* Maximale Breite des weißen Bereichs */
    margin: 0 auto; /* Zentriert den Container horizontal */
    padding: 20px; /* Innenabstand für etwas Luft um den Inhalt */
    background-color: #ffffff; /* Hintergrundfarbe Weiß */
    border-radius: 15px; /* Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schatten für Tiefe */
    position: relative; /* Notwendig für absolute Positionierung der Copyright-Info */
    overflow: hidden; /* Verhindert, dass der Inhalt außerhalb des Containers sichtbar wird */
    margin: 20px 0;
    position: relative;
}

/* Überschrift */
h1 {
    margin-bottom: 30px; /* Abstand nach unten zu den Paragraphen */
    font-size: 2em; /* Größere Schriftgröße für die Überschrift */
    color: #333333; /* Dunklerer Farbton für die Überschrift */
    text-align: center; /* Zentriert die Überschrift */
}

/* Paragraphen */
p {
    margin-top: 20px; /* Abstand nach oben zu den vorherigen Elementen */
    margin-bottom: 20px; /* Abstand nach unten zu den nächsten Elementen */
    font-size: 1em; /* Normale Schriftgröße für Paragraphen */
    line-height: 1.6; /* Zeilenhöhe für bessere Lesbarkeit */
    color: #555555; /* Etwas hellerer Farbton für den Text */
}

/* Copyright */
.footer {
    margin-top: 20px; /* Abstand nach oben, falls nötig */
    text-align: right; /* Rechtsbündig ausgerichtet */
    font-size: 0.8em; /* Schriftgröße für das Copyright */
    color: #999999; /* Farbe für das Copyright */
}

/* Chart Container */
#chartContainer {
    height: 400px; /* Höhe des Chart-Containers */
    position: relative; /* Notwendig für die Positionierung des Chart */
    overflow: hidden; /* Verhindert, dass der Chart aus dem Container herausragt */
    border-radius: 15px; /* Abgerundete Ecken, angepasst an .container */
    background-color: #ffffff; /* Hintergrundfarbe Weiß, angepasst an .container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schatten für Tiefe, angepasst an .container */
    padding: 20px; /* Innenabstand für etwas Luft um den Inhalt, angepasst an .container */
    margin: 0 auto; /* Zentriert den Container horizontal */
    max-width: 1024px; /* Maximale Breite, angepasst an .container */
}

/* Chart Canvas */
#myChart {
    width: 100%; /* Volle Breite */
    height: 100%; /* Volle Höhe */
}

/* Stil für die Tooltip-Container im Diagramm */
.chartjs-tooltip {
    background-color: #333; /* Hintergrundfarbe des Tooltips */
    color: #fff; /* Textfarbe */
    border-radius: 3px; /* Abgerundete Ecken */
    padding: 5px; /* Innenabstand */
    font-size: 0.8em; /* Schriftgröße */
}
