* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: 20px 0;
    position: relative;
}

/* Header Container */
.header {
    display: flex;
    justify-content: space-between; /* Verteile den Platz zwischen den Elementen */
    align-items: center; /* Zentriert die Elemente vertikal */
    padding: 10px; /* Innenabstand für den Header */
    background-color: #fff; /* Hintergrundfarbe des Headers */
    border-bottom: 1px solid #ddd; /* Optionale untere Grenze für den Header */
    width: 100%; /* Stellt sicher, dass der Header die gesamte Breite einnimmt */
    box-sizing: border-box; /* Verhindert, dass Padding und Border die Gesamtbreite beeinflussen */
}

.print-icon {
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-top: 15px;
}

h2 {
    text-align: center;
    font-size: 95%;
    margin-bottom: 15px;
}

p.copyright {
    text-align: right;
    font-size: 70%;
    margin-top: 10px;
}

.slider-table {
    margin-bottom: 20px;
}

div.attention {
    border: 1px solid red; /* Dünner roter Rand */
    border-radius: 10px; /* Abgerundete Ecken */
    padding: 5px; /* Abstand nach innen */
    margin: 2px; /* Abstand nach außen */
}

div.attention p {
    font-size: 70%;
}

/* Tabelle für Slider und Toggle */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Spaltenüberschriften */
.table-header {
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

/* Dropdown Container */
.dropdown-container {
    text-align: center;
    margin: 0;
}

#raceDropdown {
    width: 100%;
}

/* Slider Container */
.slider-container {
    text-align: center;
    margin: 0;
}

#paceSlider {
    width: 100%;
}

p.label {
    font-size: 85%;
    text-align: left;
}

/* Pace Display */
#paceDisplay {
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#paceDisplay::before {
    content: "Pace: ";
    font-size: 16px;
}

#paceDisplay::after {
    content: " min/km";
    font-size: 16px;
}

/* Umschalter Container */
.toggle-container {
    text-align: center;
    margin-top: 10px;
}

/* Toggle Image */
.toggle-image {
    cursor: pointer;
    width: 25px; /* Größe des Umschalters */
    height: 25px;
    vertical-align: middle;
}

/* Tabelle für die Anzeigedaten */
.table-container {
    overflow-x: auto;
    width: 100%;
}

/* Styling für die Tabelle */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

/* Tabellenkopf */
th {
    background-color: #ff8c00;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

/* Tabellenzellen */
td {
    padding: 3px;
    text-align: left;
}

/* Hintergrundfarbe für die Zeilen */
tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #ffdab9;
}

/* Hintergrundfarbe für die WP-Zeilen */
tr.wp-row {
    background-color: #f0f0f0 !important;
}

/* Hintergrundfarbe für VP 10 */
tr.vp10-row {
    background-color: #add8e6 !important;
}

/* Styling für die letzten beiden Spalten */
th:nth-child(5), th:nth-child(6) {
    background-color: #ff8c00; /* Orange Hintergrund für die Überschriften */
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

td:nth-child(5), td:nth-child(6) {
 
 
    text-align: center;
}

/* Spezielles Styling für die "Privat-VP"-Zeile */
.privat-row {
    background-color: #d3d3d3 !important; /* Hellgrauer Hintergrund, !important um andere Styles zu überschreiben */
    color: #696969; /* Dunkelgrauer Text */
    font-style: italic; /* Kursive Schrift */
}

.privat-row td:nth-child(n+4) {
    color: transparent; /* Blendet Text ab der vierten Spalte aus */
}

/* Styling für die Uhrzeiten in den letzten beiden Spalten */
td:nth-child(4)::after, td:nth-child(5)::after, td:nth-child(6)::after {
    content: " Uhr";
}

/* Styling für die letzten beiden Spalten */
th:nth-child(7),
th:nth-child(8) {
    background-color: #ff8c00; /* Orange Hintergrund für die Überschriften */
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

td:nth-child(7),
td:nth-child(8) {
    text-align: center;
}

/* Fußnotenstyling */
.footnote {
    position: relative;
    font-size: 70%;
    padding-top: 10px; /* Abstand zwischen Linie und Text */
    margin-top: 35px; /* Abstand oben zur vorherigen Zeile */
}

.footnote::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px; /* Breite der Linie */
    height: 1px; /* Dicke der Linie */
    background: #333; /* Farbe der Linie */
}

.footnote::after {
    content: attr(data-content);
    position: relative;
    display: block;
    padding-top: 10px; /* Abstand zwischen der Linie und dem restlichen Text */
}

/* Responsive Design */
@media (max-width: 600px) {
    /* Tabelle: Spalten anpassen */
    table td:nth-child(2),
    table td:nth-child(4),
    table td:nth-child(5),
    table td:nth-child(6),
    table th:nth-child(2),
    table th:nth-child(4),
    table th:nth-child(5),
    table th:nth-child(6) {
        display: none;
    }
    
    /* Toggle Image in der mobilen Ansicht */
    .toggle-container {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
}

/* Zentrierung der Inhalte in den Spalten 2 bis 6 */
table td:nth-child(2),
table td:nth-child(3),
table td:nth-child(4),
table td:nth-child(5),
table td:nth-child(6),
table th:nth-child(2),
table th:nth-child(3),
table th:nth-child(4),
table th:nth-child(5),
table th:nth-child(6) {
    text-align: center;
    vertical-align: middle; /* Vertikale Zentrierung der Inhalte */
}