* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: 20px 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p.copyright {
    text-align: right;
    font-size: 75%;
    margin-top: 10px;
}

.slider-container {
    margin-bottom: 20px;
    text-align: center;
}

#paceSlider {
    width: 100%;
    margin-top: 10px;
}

#paceDisplay {
    font-size: 24px;
    margin-top: 10px;
}

/* Tabelle */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

/* Tabellenkopf */
th {
    background-color: #ff8c00;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

/* Tabellenzellen */
td {
    padding: 3px;
    text-align: left;
}

/* Hintergrundfarbe für die Zeilen */
tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #ffdab9;
}

/* Hintergrundfarbe für die WP-Zeilen */
tr.wp-row {
    background-color: #f0f0f0 !important;
}

/* Hintergrundfarbe für VP 10 */
tr.vp10-row {
    background-color: #add8e6 !important;
}

/* Styling für die Toggle Image */
.toggle-image {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
    /* Im Hochformat - Tabelle auf eine Spalte reduzieren */
    .table-container table {
        display: block;
        width: 100%;
    }
    .table-container td, .table-container th {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    
    /* Tabelle - Spalten ausblenden */
    .table-container table td:nth-child(2),
    .table-container table td:nth-child(4),
    .table-container table td:nth-child(5),
    .table-container table td:nth-child(6) {
        display: none;
    }

    /* Display der Header für alle Spalten */
    .table-container table th:nth-child(2),
    .table-container table th:nth-child(4),
    .table-container table th:nth-child(5),
    .table-container table th:nth-child(6) {
        display: none;
    }
}

@media (min-width: 769px) {
    /* Im Querformat - Tabelle auf zwei Spalten reduzieren */
    .slider-container {
        display: flex;
        justify-content: center;
    }
}
